os: linux
dist: focal
services:
  - docker

before_install:
  # Start the ssh-agent
  - eval "$(ssh-agent -s)"
  # Register the private key from your Environment Variable
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
  # Create the .ssh directory and add github to known hosts to avoid "verify" prompts
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan github.com >> ~/.ssh/known_hosts
  - docker build -t heos-dev -f Dockerfile.dev .

script:
  - docker run --rm -e CI=true heos-dev npm test
